In [169]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine, text

damage = pd.read_csv('damage.csv', encoding='utf-8')
Electricity_production_unit_price = pd.read_csv('Electricity_production_unit_price.csv', encoding='utf-8')
sales_price = pd.read_csv('sales_price.csv', encoding='utf-8')
sales_revenue_by_use = pd.read_csv('sales_revenue_by_use.csv', encoding='utf-8')
power_generation_cost = pd.read_csv('power_generation_cost.csv', encoding='utf-8')
region = pd.read_csv('region.csv', encoding='utf-8')

In [131]:
protocol ="mysql+pymysql://"
user = "root"
password = "0000"
host = "localhost"
port = "3306"
db = "comma"
con_str = f"{protocol}{user}:{password}@{host}:{port}/{db}" 
conn = create_engine(con_str)

In [163]:
sql_stmt = """
CREATE TABLE `Electricity_production_unit_price` (
	`기간`	year not null PRIMARY KEY, 
	`원자력`	int	NULL,
	`유연탄`	int	NULL,
	`무연탄`	int	NULL,
	`유류`	int	NULL,
	`LNG`	int	NULL,
	`양수`	int	NULL,
	`연료전지`	int	NULL,
	`석탄가스화`	int	NULL,
	`태양`	int	NULL,
	`풍력`	int	NULL,
	`수력`	int	NULL,
	`해양`	int	NULL,
	`바이오`	int	NULL,
	`폐기물`	int	NULL,
	`기타`	int	NULL,
	`전기생산단가평균`	int	NOT NULL
);
"""
conn.execute(sql_stmt)

In [157]:
sql_stmt = """
CREATE TABLE `sales_revenue_by_use` (
	`기간`	year NOT NULL PRIMARY KEY,
	`주택용`	BIGint	NULL,
	`일반용`	BIGint	NULL,
    `교육용`	BIGint	NULL,
	`산업용`	BIGint	NULL,
	`농사용`	BIGint	NULL,
	`가로등`	BIGint	NULL,
	`심야용`	BIGint	NULL,
	`전기판매수입` BIGint	NOT NULL
);

"""
conn.execute(sql_stmt)

In [134]:
sql_stmt = """
CREATE TABLE `region` (
	`기간`	year	NOT NULL PRIMARY KEY,
	`서울`	int	NULL,
	`부산`	int	NULL,
	`대구`	int	NULL,
	`인천`	int	NULL,
	`광주`	int	NULL,
	`대전`	int	NULL,
	`울산`	int	NULL,
	`세종`	int	NULL,
	`경기`	int	NULL,
	`강원`	int	NULL,
	`충북`	int	NULL,
	`충남`	int	NULL,
	`전북`	int	NULL,
	`전남`	int	NULL,
	`경북`	int	NULL,
	`경남`	int	NULL,
	`제주`	int	NULL,
	`발전량합계`	int	NOT NULL
);
"""
conn.execute(sql_stmt)

In [135]:
sql_stmt = """
CREATE TABLE `sales_price` (
	`기간`	year	not NULL primary key,
	`평균금액`	int	NOT NULL
);

"""
conn.execute(sql_stmt)

In [140]:
sql_stmt = """
CREATE TABLE Damage (
    `기간` year NOT NULL ,
	`손해금액` BIGINT NULL,		
    `IND`	INT not null PRIMARY KEY
);

"""
conn.execute(sql_stmt)

In [139]:
sql_stmt = """
CREATE TABLE `power_generation_cost` (
	`기간` YEAR	NOT NULL,
	`발전비용` BIGINT NULL,
	`IND`	INT not null PRIMARY KEY	
);

"""
conn.execute(sql_stmt)

In [109]:
damage.to_dict('records')

[{'기간': 2018, '손해금액': 5859219190420, 'index': 1},
 {'기간': 2019, '손해금액': 6445733474345, 'index': 2},
 {'기간': 2020, '손해금액': 11745443890000, 'index': 3},
 {'기간': 2021, '손해금액': 2874394138325, 'index': 4}]

In [116]:
damage.dtypes

기간       int64
손해금액     int64
index    int64
dtype: object

In [142]:
sql = """
insert into Damage(
기간,
손해금액,
IND
) values(
:기간,
:손해금액,
:ind
)
"""
for param in damage.to_dict('records'):
    conn.execute(text(sql),param)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column '석탄가스화' in 'field list'")
[SQL:
insert into Electricity_production_unit_price(
기간,
유연탄,
무연탄,
유류,
LNG,
양수,
연료전지,
석탄가스화,
태양,
풍력,
수력,
해양,
바이오,
폐기물,
기타,
전기생산단가평균
) values(
%(기간)s,
%(유연탄)s,
%(무연탄)s,
%(유류)s,
%(LNG)s,
%(양수)s,
%(연료전지)s,
%(석탄가스화)s,
%(태양)s,
%(풍력)s,
%(수력)s,
%(해양)s,
%(바이오)s,
%(폐기물)s,
%(기타)s,
%(전기생산단가평균)s)
]
[parameters: {'기간': 2023, '유연탄': 153, '무연탄': 176, '유류': 343, 'LNG': 229, '양수': 246, '연료전지': 159, '석탄가스화': 162.0, '태양': 166, '풍력': 164, '수력': 171, '해양': 156, '바이오': 209, '폐기물': 0, '기타': 177.0, '전기생산단가평균': 145}]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [146]:
Electricity_production_unit_price

,기간,원자력,유연탄,무연탄,유류,LNG,양수,연료전지,석탄가스화,태양,풍력,수력,해양,바이오,폐기물,기타,전기생산단가평균
0,2023,48,153,176,343,229,246,159,162.0,166,164,171,156,209,0,177.0,145
1,2022,52,157,202,310,239,278,184,192.0,191,191,207,185,230,0,206.0,153
2,2021,56,99,101,217,122,140,94,94.0,93,99,104,93,137,0,109.0,95
3,2020,60,82,81,193,99,113,66,68.0,70,73,79,67,113,0,78.0,80
4,2019,58,86,102,231,119,121,89,82.0,94,103,104,89,120,95,98.0,89
5,2018,62,82,105,179,121,125,94,95.0,98,106,107,93,94,97,98.0,90
6,2017,61,78,95,165,112,108,80,80.0,84,91,94,80,80,96,90.0,83
7,2016,68,74,89,109,99,106,76,76.0,77,83,84,76,76,96,87.0,80
8,2015,63,71,108,150,126,133,116,98.0,169,109,113,99,103,98,92.0,84
9,2014,55,65,91,221,161,172,158,NaN,221,153,156,138,160,104,NaN,90
10,2013,39,59,92,222,161,204,156,NaN,172,163,168,147,153,87,386087.0,88
11,2012,40,66,104,253,168,214,157,NaN,171,175,178,155,158,80,1624.0,90
12,2011,39,67,99,226,142,169,124,NaN,131,143,135,134,124,79,997.0,80
13,2010,40,61,110,185,128,203,114,NaN,125,124,133,118,115,67,1109.0,73
14,2009,36,60,109,147,130,150,102,NaN,104,108,109,120,104,7,1361.0,66
15,2008,39,51,118,194,144,197,147,NaN,137,127,134,0,121,5,1436.0,68
16,2007,39,41,65,118,105,163,82,NaN,87,84,94,0,84,3,13948.0,57
17,2006,38,38,55,117,103,137,85,NaN,82,79,84,0,79,2,NaN,53
18,2005,39,44,54,93,87,108,0,NaN,63,63,71,0,60,1,NaN,51
19,2004,40,42,52,82,78,108,0,NaN,59,56,62,0,55,0,NaN,49
20,2003,43,43,53,84,90,90,0,NaN,0,141,79,0,121,8,NaN,52
21,2002,40,42,49,71,76,84,0,NaN,0,49,55,0,46,0,NaN,47
22,2001,40,41,57,73,88,74,0,NaN,0,50,58,0,54,0,NaN,48

In [147]:
sql = """
insert into power_generation_cost(
기간,
발전비용,
IND
) values(
:기간,
:발전비용,
:ind
)
"""
for param in power_generation_cost.to_dict('records'):
    conn.execute(text(sql),param)

In [149]:
sql = """
insert into region(
기간,
서울,
부산,
대구,
인천,
광주,
대전,
울산,
세종,
경기,
강원,
충북,
충남,
전북,
전남,
경북,
경남,
제주,
발전량합계
) values(
:기간,
:서울,
:부산,
:대구,
:인천,
:광주,
:대전,
:울산,
:세종,
:경기,
:강원,
:충북,
:충남,
:전북,
:전남,
:경북,
:경남,
:제주,
:발전량합계
)
"""
for param in region.to_dict('records'):
    conn.execute(text(sql),param)

In [150]:
sql = """
insert into sales_price(
기간,
평균금액
) values(
:기간,
:평균금액
)
"""
for param in sales_price.to_dict('records'):
    conn.execute(text(sql),param)

In [158]:
sql = """
insert into sales_revenue_by_use(
기간,
주택용,
일반용,
교육용,
산업용,
농사용,
가로등,
심야용,
전기판매수입
) values(
:기간,
:주택용,
:일반용,
:교육용,
:산업용,
:농사용,
:가로등,
:심야용,
:전기판매수입
)
"""
for param in sales_revenue_by_use.to_dict('records'):
    conn.execute(text(sql),param)

In [168]:
Electricity_production_unit_price

,기간,원자력,유연탄,무연탄,유류,LNG,양수,연료전지,석탄가스화,태양,풍력,수력,해양,바이오,폐기물,기타,전기생산단가평균
0,2023,48,153,176,343,229,246,159,162.0,166,164,171,156,209,0,177.0,145
1,2022,52,157,202,310,239,278,184,192.0,191,191,207,185,230,0,206.0,153
2,2021,56,99,101,217,122,140,94,94.0,93,99,104,93,137,0,109.0,95
3,2020,60,82,81,193,99,113,66,68.0,70,73,79,67,113,0,78.0,80
4,2019,58,86,102,231,119,121,89,82.0,94,103,104,89,120,95,98.0,89
5,2018,62,82,105,179,121,125,94,95.0,98,106,107,93,94,97,98.0,90
6,2017,61,78,95,165,112,108,80,80.0,84,91,94,80,80,96,90.0,83
7,2016,68,74,89,109,99,106,76,76.0,77,83,84,76,76,96,87.0,80
8,2015,63,71,108,150,126,133,116,98.0,169,109,113,99,103,98,92.0,84
9,2014,55,65,91,221,161,172,158,NaN,221,153,156,138,160,104,NaN,90
10,2013,39,59,92,222,161,204,156,NaN,172,163,168,147,153,87,386087.0,88
11,2012,40,66,104,253,168,214,157,NaN,171,175,178,155,158,80,1624.0,90
12,2011,39,67,99,226,142,169,124,NaN,131,143,135,134,124,79,997.0,80
13,2010,40,61,110,185,128,203,114,NaN,125,124,133,118,115,67,1109.0,73
14,2009,36,60,109,147,130,150,102,NaN,104,108,109,120,104,7,1361.0,66
15,2008,39,51,118,194,144,197,147,NaN,137,127,134,0,121,5,1436.0,68
16,2007,39,41,65,118,105,163,82,NaN,87,84,94,0,84,3,13948.0,57
17,2006,38,38,55,117,103,137,85,NaN,82,79,84,0,79,2,NaN,53
18,2005,39,44,54,93,87,108,0,NaN,63,63,71,0,60,1,NaN,51
19,2004,40,42,52,82,78,108,0,NaN,59,56,62,0,55,0,NaN,49
20,2003,43,43,53,84,90,90,0,NaN,0,141,79,0,121,8,NaN,52
21,2002,40,42,49,71,76,84,0,NaN,0,49,55,0,46,0,NaN,47
22,2001,40,41,57,73,88,74,0,NaN,0,50,58,0,54,0,NaN,48

In [170]:
sql = """
insert into Electricity_production_unit_price(
기간,
유연탄,
무연탄,
유류,
LNG,
양수,
연료전지,
석탄가스화,
태양,
풍력,
수력,
해양,
바이오,
폐기물,
기타,
전기생산단가평균
) values(
:기간,
:유연탄,
:무연탄,
:유류,
:LNG,
:양수,
:연료전지,
:석탄가스화,
:태양,
:풍력,
:수력,
:해양,
:바이오,
:폐기물,
:기타,
:전기생산단가평균)
"""
for param in Electricity_production_unit_price.to_dict('records'):
    conn.execute(text(sql),param)

In [ ]:
CONSTRAINT `키 이름` FOREIGN KEY (`키로 들어갈 칼럼`) REFERENCES `프라이머리 키 있는 테이블 이름` (`앞에 테이블에서 쓸 컬럼`)

In [176]:
sql = """
ALTER TABLE `Damage` ADD CONSTRAINT `FK_damage_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
"""
conn.execute(sql)

In [177]:
sql = """
ALTER TABLE `power_generation_cost` ADD CONSTRAINT `FK_power_generation_cost_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
"""
conn.execute(sql)

In [180]:
sql = """
ALTER TABLE `region` ADD CONSTRAINT `FK_region_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
"""
conn.execute(sql)

OperationalError: (pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_region_year'")
[SQL:
ALTER TABLE `region` ADD CONSTRAINT `FK_region_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [179]:
sql = """
ALTER TABLE `sales_revenue_by_use` ADD CONSTRAINT `FK_sales_revenue_by_use_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
"""
conn.execute(sql)